<div class="container">
  <mat-card>
        <div class="text-box">
          <mat-card-title>Login</mat-card-title>
          <mat-card-subtitle>Please login to your admin account to post a new blog post</mat-card-subtitle>
        </div>

        <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm.value)" >
          <div>
            <input
              type="email"
              class="form-control"
              placeholder="Email"
              #Email="ngModel"
              name="email"
              ngModel
              required
              [ngClass]="{'is-invalid': Email.invalid && Email.touched}"
            >
          </div>
          <div class="alert alert-danger" *ngIf="Email.touched && Email.invalid">
            Email Cannot be Empty
          </div>
          <div>
            <input
              type="password"
              class="form-control"
              placeholder="Password"
              #Password="ngModel"
              name="password"
              ngModel
              required
              [ngClass]="{'is-invalid': Password.invalid && Password.touched}"
            >
            <div class="alert alert-danger" *ngIf="Password.touched && Password.invalid">
              <div *ngIf="Password.errors?.['required']">Password Cannot be Empty</div>
              <div *ngIf="Password.errors?.['email']">Password must be a valid email address</div>
            </div>
          </div>
          <button mat-raised-button color="primary" [disabled]="loginForm.invalid">Login</button>
        </form>
  </mat-card>
</div>
