<main>
  <form>
    <h1>Enter with your account</h1>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input type="email" matInput placeholder="Ex. pat@example.com">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Password</mat-label>
      <input type="password" matInput placeholder="Password">
    </mat-form-field>
    <div class="btn-container">
      <mat-card-actions>
        <a mat-button color="primary" routerLink="/password-recovery">Recover password</a>
      </mat-card-actions>
    </div>
    <div class="btn-container mt-10">
      <mat-card-actions>
        <a mat-stroked-button color="primary" routerLink="/register">REGISTER</a>
      </mat-card-actions>
      <mat-card-actions>
        <a mat-raised-button color="primary" routerLink="/main/dashboard">LOGIN</a>
      </mat-card-actions>
    </div>
  </form>
</main>
