<div class="dialog-container">
  <!-- Show progress bar if loading. Input fields and buttons are disabled when loading. -->
  <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>

  <h1 mat-dialog-title>Add User</h1>
  <div mat-dialog-content>

    <div>
      <mat-form-field class="mr-16" appearance="outline">
        <mat-label>First Name</mat-label>
        <input [disabled]="loading" [(ngModel)]="user.firstName" matInput placeholder="First Name">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Last Name</mat-label>
        <input [disabled]="loading" [(ngModel)]="user.lastName" matInput placeholder="Last Name">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>E-Mail</mat-label>
        <input [disabled]="loading" [(ngModel)]="user.email" matInput placeholder="E-Mail">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Birth Date</mat-label>
        <input [disabled]="loading" [(ngModel)]="birthDate" matInput placeholder="Birth Date" [matDatepicker]="picker1">
        <mat-datepicker-toggle matSuffix [for]="picker1" matSuffix></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Street + House No.</mat-label>
        <input [disabled]="loading" [(ngModel)]="user.street" matInput placeholder="Street + House No.">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline" class="mr-16">
        <mat-label>Zip code</mat-label>
        <input [disabled]="loading" [(ngModel)]="user.zipCode" matInput placeholder="Zip Code">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>City</mat-label>
        <input [disabled]="loading" [(ngModel)]="user.city" matInput placeholder="City">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="outline" class="mr-16">
        <mat-label>Division</mat-label>
        <input [disabled]="loading" [(ngModel)]="user.division" matInput placeholder="Division">
        <mat-icon matSuffix>work</mat-icon>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Title</mat-label>
        <input [disabled]="loading" [(ngModel)]="user.title" matInput placeholder="Title">
        <mat-icon matSuffix>work</mat-icon>
      </mat-form-field>
    </div>
  </div>
  <div mat-dialog-actions>
      <button [disabled]="loading" mat-button (click)="dialogRef.close()">Cancel</button>
      <button [disabled]="loading" mat-button (click)="saveUser()" cdkFocusInitial>Save</button>
  </div>

</div>
