<main>
  <form>
    <h1>Register a new account</h1>
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input type="name" matInput placeholder="Name">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input type="email" matInput placeholder="Ex. pat@example.com">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input type="password" matInput placeholder="Password">
    </mat-form-field>
    <div class="btn-container mt-10">
      <mat-card-actions>
        <a mat-raised-button color="primary" routerLink="//">SIGN-UP</a>
      </mat-card-actions>
    </div>
  </form>
</main>
