.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  height: 70px;

  h2 {
    margin: 0;
  }
}

.text-box {
  padding-left: 24px;
}

.expand-buttons {
  padding-left: 16px;
  background-color: rgb(255, 255, 255);
  color: var(--themeColor)!important;
}

.add-user-btn {
  background-color: rgb(255, 255, 255);
  color: var(--themeColor)!important;
}

mat-card {
  padding: 14px;
  padding-inline: 0;
  overflow-x: scroll;
}


.input-container {
  display:flex;
  flex-direction: column;
  padding-inline: 16px;

  button {
    width: 200px;
    margin-top: 12px;
    margin-bottom: 8px;
  }
}

/* Filter */
.full-width {
  width: 100%;
}

/* Table */
table {
  width: 100%;
}

.truncate-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 250px;
}

.action-btn-container {
  width: 90px;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;

  .edit-user-btn {
    margin: 3px;
    background-color: rgb(255, 255, 255);
    color: var(--themeColor)!important;
  }
}

.btn-white {
  color: var(--themeColor)!important;
  margin-right: 3px;
}

.p-bottom {
  padding-bottom: 4px !important;
}

@media (max-width: 600px) {
  .mobile-hide {
    display: none;
  }
}

/* Structure */
.example-container {
  position: relative;
}

.example-table-container {
  position: relative;
  /*min-height: 200px;
  max-height: 400px;*/
  overflow: auto;
}

table {
  width: 100%;
}

.m-bottom {
  margin-bottom: 16px;
}
