<div class="title-container">
  <h2>Password-Manager</h2>
</div>

<!-- Alert -->
<div *ngIf="isSuccess" class="">
  {{ successMessage }}
</div>

<mat-card class="">
  <div class="text-box">
    <mat-card-title>{{ formState }} User & Password</mat-card-title>
    <mat-card-subtitle>You can {{ formState }} user & password from the below form.</mat-card-subtitle>
  </div>

    <!-- Form -->
    <form #f="ngForm" (ngSubmit)="onSubmit(f.value)" class="input-container">
      <div class="input-box">
        <label class="">
          Website
        </label>
        <input [(ngModel)]="siteName" type="text" name="siteName" mat-input placeholder="Website">
      </div>
      <div class="input-box">
        <label class="">
          Email
        </label>
        <input [(ngModel)]="email" type="email" name="email" mat-input placeholder="Email">
      </div>
      <div class="input-box">
        <label class="">
          Username
        </label>
        <input [(ngModel)]="username" type="text" name="username" mat-input placeholder="Username">
      </div>
      <div class="input-box">
        <label class="">
          Password
        </label>
        <input [(ngModel)]="password" type="password" name="password" mat-input placeholder="Password">
      </div>

      <button mat-stroked-button color="primary">
        {{ formState }} Password
      </button>

    </form>
</mat-card>

<mat-card class="">
  <table class="pw-table" (mouseenter)="showButtons = true" (mouseleave)="showButtons = false">
    <thead>
      <tr>
        <th> Website </th>
        <th> Email </th>
        <th> Username </th>
        <th> Password </th>
        <th *ngIf="showButtons">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr class="" *ngFor="let password of passwordList; let i = index">
        <td>
          {{ password.siteName }}
        </td>
        <td>
          {{ password.email }}
        </td>
        <td>
          {{ password.username }}
        </td>
        <td class="passwords">
          <div class="truncate-text">{{ password.password }}</div>
          <button
            (click)="onDecrypt(password.password, i)"
            mat-stroked-button color="primary"
          >
            Decrypt
          </button>
        </td>
        <td>
          <button
            (click)="editPassword(password.id, password.siteName, password.email, password.username, password.password)"
            mat-stroked-button color="primary"
            *ngIf="showButtons"
          >
            <mat-icon class="mat-18">edit</mat-icon>
          </button>
          <button
            (click)="deletePassword(password.id)"
            mat-stroked-button color="accent"
            *ngIf="showButtons"
          >
            <mat-icon class="mat-18">delete</mat-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</mat-card>
