<div class="title-container">
  <h2>Manage Notes</h2>
  <button (click)="openDialog()" class="add-user-btn" mat-fab color="primary" matTooltip="Add note">
    <mat-icon>add</mat-icon>
  </button>
</div>
<app-search (searchTextChanged)="onSearchTextEntered($event)"></app-search>
<div class="card-container">
  <ng-container *ngFor="let note of allNotes">
    <mat-card
      class="card-box"
      (mouseenter)="showButtons = true"
      (mouseleave)="showButtons = false"
      *ngIf="searchText === ''||
        note.title.toLowerCase().includes(searchText) ||
        note.description.toLowerCase().includes(searchText)"
    >
      <mat-card-header>
        <mat-card-title>{{ note.title }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>{{ note.description }}</p>
      </mat-card-content>

      <mat-card-actions *ngIf="showButtons" class="action-btn-position">
        <div class="action-btn-container">
          <button
            class="edit-user-btn"
            mat-mini-fab color="primary"
            [routerLink]="['/notes/' + note.id]"
            *ngIf="showButtons"
          >
            <mat-icon>edit</mat-icon>
          </button>
          <button
            class="edit-user-btn"
            mat-mini-fab color="primary"
            (click)="onDeleteNote(note.id)"
            *ngIf="showButtons"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </mat-card-actions>

    </mat-card>
  </ng-container>
</div>
