.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  height: 70px;

  h2 {
    margin: 0;
  }
}

.add-user-btn {
  background-color: rgb(255, 255, 255);
  color: var(--themeColor)!important;
}

mat-card {
  padding: 14px;
  padding-inline: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.user-table {
  width: 100%;
  border-collapse: collapse;

  tr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);

    &:last-child {
      border-bottom: 0;
    }

    cursor: pointer;

    &:hover {
      background-color: rgba(0, 0, 0, 0.04);
    }

    &:first-child {
      cursor: unset;
      &:hover {
        background-color: unset;
      }
    }

    td {
      height: 48px;

      &:first-child {
        padding-left: 16px;
      }
    }

    th {
      &:first-child {
        padding-left: 16px;
      }
    }
  }

  th {
    color: rgba(0, 0, 0, 0.4);
    font-size: 14px;
    font-weight: 500;
    text-align: start;
  }
}

@media (max-width: 360px) {
  .mobile-hide {
    display: none;
  }
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.action-btn-position {
  position: absolute;
  bottom: 0;
  right: 0;
}

.action-btn-container {
  width: 90px;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  margin-top: 20px;

  .edit-user-btn {
    margin: 3px;
    background-color: rgb(255, 255, 255);
    color: var(--themeColor)!important;
    margin-top: 20px;
  }
}

.card-box {
  margin: 10px;
  width: 300px;
  height: 200px;
  overflow: auto;
  scroll-behavior: smooth;

  @media (max-width: 750px) {
    width: 100%;
  }
}
