<div class="centered-container">
  <mat-card class="mt-32 note-card">
    <div class="user-details-box">
      <div class="user-details">
        <h2>{{ notes.title }}</h2>
        <div>{{ notes.description }}</div>
      </div>
    </div>
    <div class="btn-container">
      <button mat-stroked-button color="primary" [routerLink]="['/notes']" matTooltip="Go back">Go Back</button>
      <button mat-stroked-button color="primary" (click)="editNoteDetail()" matTooltip="Edit user">Edit Note</button>
    </div>
  </mat-card>
</div>

