.note {
  overflow: hidden;
  width: 250px;
  height: 250px;
  padding: 24px;
  margin: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.btn-container {
  display: flex;
  gap: 8px
}

button {
  background-color: var(--themeColorWhite);
  color: var(--themeColor);
}

input {
  height: 24px;
  width: 180px;
  border: none;
  outline: none;
  border-radius: 8px;
  padding: 8px;
  margin-bottom: 3px;
  font-size: 16px;
  color: var(--themeColor);
  border: 1px solid var(--themeColor);
}


textarea {
  height: 75px;
  width: 180px;
  resize: none;
  border: none;
  outline: none;
  border-radius: 8px;
  padding: 8px;
  color: var(--themeColor);
  border: 1px solid var(--themeColor);
}
