<mat-card
  class="note"
  (mouseenter)="showButtons = true"
  (mouseleave)="showButtons = false"
>
  <div>
    <mat-card-header>
      <input *ngIf="editInfo" [(ngModel)]="editedNote.title" type="text">
      <mat-card-title *ngIf="!editInfo">
          {{note.title}}
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <textarea *ngIf="editInfo" [(ngModel)]="editedNote.content"></textarea>
      <p *ngIf="!editInfo">
          {{note.content}}
      </p>
    </mat-card-content>
  </div>

  <mat-card-actions *ngIf="showButtons" class="btn-container">
    <div class="btn-container">
      <button mat-stroked-button *ngIf="!editInfo" class="white_btn_round" (click)="openEditInfo()">Edit</button>
      <button mat-stroked-button *ngIf="editInfo" (click)="saveEditInfo()" class="btn fullBtn">Save</button>
      <button mat-stroked-button *ngIf="!editInfo" class="white_btn_round" (click)="onDelete()">Delete</button>
    </div>
  </mat-card-actions>

</mat-card>
