table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}

.add-user-btn {
  position: absolute;
  right: 56px;
  margin-top: 20px;
  background: var(--themeColor)!important;
}

.edit-user-btn {
  margin: 2px;
  background: var(--themeColor)!important;
}


@media (max-width: 600px) {
  .mobile-hide {
    display: none;
  }
}
