.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  height: 70px;

  h2 {
    margin: 0;
  }
}

.add-user-btn {
  background-color: rgb(255, 255, 255);
  color: var(--themeColor)!important;
}

/* Structure */
.example-container {
  position: relative;
}

.example-table-container {
  position: relative;
  /*min-height: 200px;
  max-height: 400px;*/
  overflow: auto;
}

table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
  padding-top: 0!important;
}

.action-btn-container {
  width: 90px;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;

  .edit-user-btn {
    margin: 3px;
    background-color: rgb(255, 255, 255);
    color: var(--themeColor)!important;
  }
}

.p-bottom {
  padding-bottom: 4px !important;
}

@media (max-width: 600px) {
  .mobile-hide {
    display: none;
  }
}

.m-bottom {
  margin-bottom: 16px;
}
