mat-grid-tile {
  background: var(--themeColorRed);
}

.bg-grid1 {
  /*background-color: #316879;*/
  background-color: rgb(125, 162, 207);
}

.bg-grid2 {
  /*background-color: #f47a60;*/
  background-color: rgb(201 171 211);
}

.bg-grid3 {
  /*background-color: #7fe7dc;*/
  background-color: rgb(208, 175, 175);
}

.bg-grid4 {
  /*background-color: #ced7d8;*/
  background-color: rgb(164 179 209);
}

.grid-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  mat-icon {
    height: 60px;
    width: 60px;
    font-size: 50px;
    cursor: pointer;
  }
}



