<div class="title-container">
  <h2>Overview Staff</h2>
  <app-search (searchTextChanged)="onSearchTextEntered($event)"></app-search>
</div>
<mat-card>
  <table class="user-table"  (mouseenter)="showButtons = true" (mouseleave)="showButtons = false">
    <tr>
      <th>Name</th>
      <th>E-Mail</th>
      <th class="m-hide">Division</th>
      <th *ngIf="showButtons">Action</th>
    </tr>
    <ng-container *ngFor="let user of allUsers">
      <tr
        *ngIf="searchText === ''||
          user.firstName.toLowerCase().includes(searchText) ||
          user.lastName.toLowerCase().includes(searchText) ||
          user.division.toLowerCase().includes(searchText)"
      >
        <td> {{ user.firstName }} {{ user.lastName }}</td>
        <td> {{ user.email }} </td>
        <td> {{ user.division }}</td>
        <td>
          <div class="action-btn">
            <button mat-stroked-button color="primary" [routerLink]="['/main/user/' + user.customIdName]" *ngIf="showButtons">
              <mat-icon class="mat-18">edit</mat-icon>
            </button>
            <button mat-stroked-button color="accent" (click)="onDelete(user.customIdName)" *ngIf="showButtons">
              <mat-icon class="mat-18">delete</mat-icon>
            </button>
          </div>
        </td>
      </tr>
    </ng-container>
  </table>
</mat-card>
<button (click)="openDialog()" class="add-user-btn" mat-fab color="primary" matTooltip="Add staff">
  <mat-icon>add</mat-icon>
</button>
