<mat-card class="mt-32">
  <button mat-icon-button class="pin-right-upper-corner" [matMenuTriggerFor]="noteMenu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu matTooltip="Edit user" #noteMenu="matMenu">
    <button mat-menu-item (click)="editNoteDetail()">Edit</button>
  </mat-menu>
  <div class="user-details-box">
    <div class="user-details">
      <h2>{{ notes.title }}</h2>
      <div>{{ notes.description }}</div>
    </div>
  </div>
  <div class="btn-container">
    <button mat-stroked-button color="primary" [routerLink]="['/main/notes']"><mat-icon class="mat-18">arrow_back</mat-icon></button>
  </div>
</mat-card>
