<mat-drawer-container class="mat-drawer-container" autosize>
  <mat-drawer
    #drawer class="sidenav" mode="side"
    [ngClass]="{
      'option-1-background': selectedOption === '1',
      'option-2-background': selectedOption === '2',
      'option-3-background': selectedOption === '3'
    }"
  >
    <div class="logo-container">
      <img class="logo" src="assets/img/logo.png" routerLink="/">
    </div>
    <div class="menu-container">
      <ul class="menu-items">
        <li matTooltip="Show graph" routerLink="/dashboard" routerLinkActive="router-link-active"><mat-icon>fact_check</mat-icon>Dashboard</li>
        <li matTooltip="Show staff" routerLink="/user" ><mat-icon>group</mat-icon>Staff</li>
        <li matTooltip="Show notes" routerLink="/notes" ><mat-icon>note</mat-icon>Notes</li>
        <li matTooltip="Show passwords" routerLink="/passwords" ><mat-icon>lock</mat-icon>Passwords</li>
      </ul>
      <ul class="menu-items setting">
        <li matTooltip="Show imprint" routerLink="/legal" ><mat-icon>copyright</mat-icon>Imprint</li>
      </ul>
    </div>
  </mat-drawer>
  <div>
    <p>
      <mat-toolbar [ngClass]="{
        'option-1-background': selectedOption === '1',
        'option-2-background': selectedOption === '2',
        'option-3-background': selectedOption === '3'
        }"
      >
        <button matTooltip="Toggle sidebar" mat-icon-button (click)="drawer.toggle()" class="mobile-hide">
          <mat-icon>menu</mat-icon>
        </button>
        <img class="desktop-hide logo" src="assets/img/logo.png" routerLink="/">
        <button matTooltip="Show graph" routerLink="/dashboard" routerLinkActive="router-link-active" mat-icon-button class="example-icon desktop-hide">
          <mat-icon>fact_check</mat-icon>
        </button>
        <button matTooltip="Show staff" routerLink="/user" mat-icon-button class="example-icon desktop-hide">
          <mat-icon>group</mat-icon>
        </button>
        <button matTooltip="Show notes" routerLink="/notes" mat-icon-button class="example-icon desktop-hide">
          <mat-icon>note</mat-icon>
        </button>
        <button matTooltip="Show passwords" routerLink="/passwords" mat-icon-button class="example-icon desktop-hide">
          <mat-icon>lock</mat-icon>
        </button>
        <span class="mobile-hide" routerLink="/">Manage Your Business</span>
        <span class="spacer"></span>
        <button [matMenuTriggerFor]="menu" #menuTrigger matTooltip="Open menu" matTooltip="Logout" mat-icon-button class="example-icon">
          <mat-icon>logout</mat-icon>
        </button>
        <!-- Dialog-menu-->
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="onLogout()">Logout</button>
          <button mat-menu-item routerLink="/legal">Legal</button>
          <!-- Change color of toolbar -->
          <mat-radio-group [(ngModel)]="selectedOption" class="color-picker" aria-label="Select an option">
            <mat-radio-button value="1">Theme 1</mat-radio-button>
            <mat-radio-button value="2">Theme 2</mat-radio-button>
            <mat-radio-button value="3">Theme 3</mat-radio-button>
          </mat-radio-group>

        </mat-menu>
      </mat-toolbar>
    </p>
    <!-- insert content-->
    <div class="router-container">
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-drawer-container>
