<div class="dialog-container">
  <!-- Progress bar and loader. -->
  <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
  <h1 mat-dialog-title>Edit User</h1>
  <!-- Input/Selection fields. -->
  <div mat-dialog-content>
    <div>
      <mat-form-field class="mr-16" appearance="outline">
        <mat-label>First Name</mat-label>
        <input [disabled]="loading" [(ngModel)]="user.firstName" matInput placeholder="First Name">
        <mat-icon matSuffix>person</mat-icon>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Last Name</mat-label>
        <input [disabled]="loading" [(ngModel)]="user.lastName" matInput placeholder="Last Name">
        <mat-icon matSuffix>person</mat-icon>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Choose a birthdate</mat-label>
        <input
          matInput [matDatepicker]="picker"
          [(ngModel)]="birthDate"
        >
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker touchUi #picker></mat-datepicker>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>E-Mail</mat-label>
        <input [disabled]="loading" [(ngModel)]="user.email" matInput placeholder="E-Mail">
        <mat-icon matSuffix>mail</mat-icon>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Select Division</mat-label>
        <mat-select [disabled]="loading" [(ngModel)]="user.division" name="division">
          <mat-option value="Admin">Admin</mat-option>
          <mat-option value="Finance">Finance</mat-option>
          <mat-option value="Marketing">Marketing</mat-option>
          <mat-option value="Sales">Sales</mat-option>
          <mat-option value="Production">Production</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Select Function</mat-label>
        <mat-select [disabled]="loading" [(ngModel)]="user.title" name="title">
          <mat-option value="Management">Management</mat-option>
          <mat-option value="Staff">Staff</mat-option>
          <mat-option value="Contractor">Contractor</mat-option>
          <mat-option value="Intern">Intern</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Street + House No.</mat-label>
        <input [disabled]="loading" [(ngModel)]="user.street" matInput placeholder="Street + House No.">
        <mat-icon matSuffix>home</mat-icon>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="outline" class="mr-16">
        <mat-label>Zip code</mat-label>
        <input [disabled]="loading" [(ngModel)]="user.zipCode" matInput placeholder="Zip Code">
        <mat-icon matSuffix>home</mat-icon>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>City</mat-label>
        <input [disabled]="loading" [(ngModel)]="user.city" matInput placeholder="City">
        <mat-icon matSuffix>home</mat-icon>
      </mat-form-field>
    </div>

    <div mat-dialog-actions>
        <button [disabled]="loading" mat-button (click)="dialogRef.close()">Cancel</button>
        <button [disabled]="loading" mat-button (click)="updateUser()" cdkFocusInitial>Save</button>
    </div>
  </div>
</div>
