<mat-card>
  <table class="user-table">
    <tr>
      <th>Name</th>
      <th>E-Mail</th>
      <th>Division</th>
    </tr>
    <tr *ngFor="let user of allUsers" [routerLink]="['/user/' + user.customIdName]">
      <td matTooltip="Show details"> {{ user.firstName }} {{ user.lastName }}</td>
      <td matTooltip="Show details"> {{ user.email }} </td>
      <td matTooltip="Show details"> {{ user.division }}</td>
    </tr>
  </table>
</mat-card>
<button (click)="openDialog()" class="add-user-btn" mat-fab color="primary" matTooltip="Add user">
  <mat-icon>add</mat-icon>
</button>
