#divChart{
  display: block;
  width: 100%;
  min-width: 250px;
  /*width: 400px;
  height: 400px;*/
}

canvas {
  background-color: white;
  padding: 16px;
  border: 1px solid var(--themeColorRed);
  border-radius: 5px;
}
